@model List<MainBit.MarkupTags.Models.MarkupTagRecord>
<h1>@Html.TitleForPage(T("Markup Tags").ToString())</h1>
@ViewBag.EmptyMessage
@if (Model != null && Model.Count > 0)
{
    <table class="items">
        <thead>
            <tr>
                <th>@T("Title")</th>
                <th>@T("Zone")</th>
                <th>@T("Position")</th>
                <th>@T("Enable")</th>
                <th class="code-action">@T("Actions")</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Zone</td>
                <td>@item.Position</td>
                <td>@item.Enable</td>
                <td>
                    <a href="@Url.Action("Edit", "Admin", new { Id = item.Id })">@T("Edit")</a> | <a href="@Url.Action("Delete", "Admin", new { Id = item.Id })">@T("Remove")</a>
                </td>
            </tr>
        }
    </table>
}
<fieldset>
    @Html.ActionLink(T("Create").ToString(), "Create", new { }, new { @class = "button" })
</fieldset>